body {
  text-align: center;
  font-family: Helvetica;
}

/*HEADING*/

.header--main {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

/*LINKS*/

.links--cta {
  font-size: 18px;
  color: white;
}
